html, body {
    margin: 0;
    height: 100%;
}
header {
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EBE6E6;
}
#headerGap {
    height: 75px;
}
#sidebar {
    width: 25%;
    height: Calc(100% - 76px);
    position: fixed;
    top: 76px;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FAFAFA;
    border-left: 1px solid #F2EBEB;
}
#contentWrapper {
    width: 75%;
    float: left;
}
#content {
    padding: 5px;
}