.flexDisplay {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

* {
    font-family: consolas;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: rgba(255, 255, 255, 0.97);
    height: 100%;
}

@media all and (max-width: 1138px) {
    body a {
        justify-content: space-around;
    }
}

@media all and (max-width: 440px) {
    body {
        padding: 0;
    }
}

#homepage-background {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    align-content: flex-start;
    justify-content: center;
    min-width: 100%;
    width: auto;
    height: 100%;
    background-color: #818bc7;
    padding-top: 4%;
}

#homepage-background a {
    display: block;
    margin: 0 .25% .5% .25%;
    text-decoration: none;
    color: #ede3e1;
}

#homepage-background a h2 {
    font-weight: normal;
}

#homepage-background a:visited {
    color: #ede3e1;
}

.box {
    display: block;
    min-width: 12em;
    min-height: 10em;
    padding: 5%;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px #6f7bbf;
}

#box-1 {
    background-color: #3838ff;
}

#box-2 {
    background-color: #ff7f50;
}

#box-3 {
    background-color: #349729;
}

#box-4 {
    background-color: #cd5c5c;
}

#box-5 {
    background-color: #9370db;
}

#box-6 {
    background-color: #ffc0cb;
}

#homepage-footer {
    display: block;
    height: 8%;
    width: 100%;
}

#homepage-footer #footer-logo {
    margin: auto;
    background-image: url("../../../images/educasklogo.png");
    background-size: contain;
    padding: 0 auto;
    min-height: 25px;
    height: 50px;
    width: 257px;
    background-clip: border-box;
    background-repeat: no-repeat;
    z-index: 30;
}

#homepage-footer #footer-logo:hover {
    background-color: transparent;
}

#titlebar {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    background-color: rgba(41, 39, 150, 0.97);
}

#titlebar ul {
    min-height: 25px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    z-index: 100;
    height: inherit;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

#titlebar ul #flex-end {
    position: absolute;
    right: 0;
}

#titlebar ul li {
    z-index: 10;
    position: relative;
    text-align: center;
    display: flex;
    height: inherit;
}

#titlebar ul li #logo {
    background-image: url("../../../images/educasklogo.png");
    background-size: contain;
    min-height: 25px;
    height: inherit;
    width: auto;
    background-clip: border-box;
    background-repeat: no-repeat;
    z-index: 30;
}

#titlebar ul li #logo:hover {
    background-color: transparent;
}

#titlebar ul li #login {
    margin: 2px;
    height: 2em;
}

#titlebar ul li a {
    display: block;
    color: #eeeeee;
    font-size: normal;
    line-height: 2;
    height: 2em;
    min-width: 12em;
    text-decoration: none;
    text-align: center;
}

#titlebar ul li a:visited {
    color: #eeeeee;
}

#titlebar ul li a:hover {
    background-color: rgba(39, 37, 142, 0.97);
}

#titlebar ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    height: inherit;
    box-sizing: border-box;
}

#titlebar ul li ul li {
    background-color: rgba(41, 39, 150, 0.97);
    display: block;
    height: inherit;
}

#titlebar ul li ul li a {
    box-sizing: border-box;
    height: inherit;
    width: 100%;
    height: 100%;
}

#titlebar ul li:hover ul {
    display: block;
}

@media only screen and (max-width: 449px) {
    #titlebar ul {
        flex-direction: column;
    }
}

#sidebar {
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    display: block;
    text-align: center;
    float: left;
    height: 96%;
    margin-top: 2em;
    background-color: rgba(239, 239, 251, 0.97);
    width: 10%;
    z-index: 1;
}

#sidebar ul {
    position: relative;
    list-style: none;
}

#sidebar ul li {
    height: 2em;
}

#sidebar ul li a {
    display: block;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background-color: rgba(223, 223, 247, 0.97);
}

@media all and (max-device-width: 440px) {
    #sidebar {
        position: relative;
        bottom: 0;
        width: 100%;
        height: auto;
        padding: none;
        margin: none;
    }

    #sidebar li {
        height: 8em;
    }
}

#mainContent {
    border-radius: 5px;
    border: solid 2px rgba(241, 241, 251, 0.97);
    background: rgba(255, 255, 255, 0.97);
    box-sizing: border-box;
    position: relative;
    display: block;
    float: right;
    padding: 5px;
    margin-top: 2em;
    margin-right: 10%;
    width: 79%;
    height: auto;
    z-index: 1;
}

@media all and (max-device-width: 440px) {
    #mainContent {
        width: 100%;
        margin: none;
        float: none;
    }
}

#login-form-background {
    padding: 40px;
    background-color: #dddddd;
    border-radius: 6px;
    border: solid 2px #c4c4c4;
}

#login-form-background h2 {
    margin-bottom: 20px;
}

#notices-modal {
    padding: 4px;
    width: 100%;
    background-color: #dddddd;
    border-radius: 6px;
    border: solid 2px #c4c4c4;
}

#notices-modal h2 {
    margin-bottom: 20px;
}

#notices-modal .error {
    color: #bd0000;
}
