<p>Your account is authenticated through an external provider. Because of this, your password can't be changed here. To change your password, please contact your system administrator.</p>
<p>{{ Link("Go back to My Account", "users/myAccount") }}.</p>