<p>Does your password need a refresh? Use this form to update your password.</p>
<form action="{{ Href("users/changePassword") }}" method='POST' id="changePasswordForm">
    {{ AntiForgeryToken() }}
    {{ Honeypot() }}
    <label for='currentPassword'>Current password:</label>
    <input type='password' id='currentPassword' name='currentPassword' />
    <label for="newPassword">New password:</label>
    <input type="password" name="newPassword" id="newPassword">
    <label for="passwordConfirmation">Confirm the new password:</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation">
    <input type='submit' value='Change your password' />
</form>
<p>{{ Link("Go back to My Account", "users/myAccount") }}.</p>