<p>I hear you need a new password. Let's get you a new one.</p>
<form action="{{ model.formPostLink }}" method='POST' id="forgotPasswordForm">
    {{ model.csrfToken.getHtmlElement() | raw }}
    {{ model.honeypot.getHtmlElement() | raw }}
    <label for='username'>Username or email address:</label>
    <input type='text' id='username' name='username' />
    <input type='submit' value='Request Password Reset Token' />
</form>
<p>Remember your password? Click <a href="{{ model.loginLink }}">here</a> to login.</p>