<p>I hear you need a new password. Let's get you a new one.</p>
<form action="{{ model.postLink }}" method='POST' id="forgotPasswordForm">
    {{ model.csrfToken.getHtmlElement() | raw }}
    {{ model.honeypot.getHtmlElement() | raw }}
    <label for='email'>Email address:</label>
    <input type='email' id='email' name='email' />
    <label for='newPassword'>New password:</label>
    <input type='password' id='newPassword' name='newPassword' />
    <label for='confirmNewPassword'>Confirm your new password:</label>
    <input type='password' id='confirmNewPassword' name='confirmNewPassword' />
    <input type='hidden' id='token' name='token' value='{{ model.token }}' />
    <input type='submit' value='Proceed' />
</form>