{{ include("@statuses/statusForm.twig", {action:'add'}, with_context=false) }}
<div id="group">
    {% for timelineEntry in model.timeline %}
        <div class="timeLineEntry groupItem">
            {{ include(timelineEntry.getSubView(), {timelineEntry:timelineEntry}, with_context=false) }}
        </div>
    {% endfor %}
</div>