{% block footer %}
    <div id="footer">
        <ul>
            {#icons borrowed from http://www.freshdesignweb.com/free-social-media-flat-icons-sets.html#}
            <li><a href="https://www.educask.com" target="_blank"><img
                            src="{{ site.getBaseDirectory }}includes/images/educasklogo-e.png"/></a></li>
            <li><a href="https://www.facebook.com/Educask" target="_blank"><img
                            src="{{ site.getBaseDirectory }}includes/images/facebook.png"/></a></li>
            <li><a href="https://github.com/educask" target="_blank"><img
                            src="{{ site.getBaseDirectory }}includes/images/github.png"/></a></li>
            <li><a href="https://twitter.com/educask" target="_blank"><img
                            src="{{ site.getBaseDirectory }}includes/images/twitter.png"/></a></li>
        </ul>
    </div>
{% endblock %}