{% extends "@html5/base.twig" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ site.getBaseDirectory }}includes/themes/default/css/main.css"/>
    <link rel="icon" href="{{ site.getBaseDirectory }}includes/images/educaskFavicon.ico">
{% endblock %}
{% block body %}
    <header></header>
    <div id="headerGap"></div>
    <div id="contentWrapper">
        <section id="content">
            <h1>{% if blocks.main.0.title is defined %}{{ blocks.main.0.getTitle }}{% else %}Home{% endif %}</h1>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
        </section>
    </div>
    <div id="sidebar">
    </div>
{% endblock %}