{% extends "@html5/base.twig" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ site.getBaseDirectory }}includes/themes/default/css/main.css"/>
    <link rel="icon" href="{{ site.getBaseDirectory }}includes/images/educaskFavicon.ico">
{% endblock %}
{% block body %}
    <header></header>
    <div id="contentWrapper">
        <div id="sidebar"></div>
        <section id="content">
            <h1>Title</h1>
        </section>
    </div>
{% endblock %}