{% extends "@html5/base.twig" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ site.getBaseDirectory }}includes/themes/default/css/theme.css"/>
    <link rel="icon" type="image/png" href="{{ site.getBaseDirectory }}includes/images/favicon.png">
{% endblock %}
{% block body %}
    <div id="wrapper">
        {% if blocks.home is defined %}
        {% include "homepage.twig" %}
    {% else %}
        {% include "default.twig" %}
    {% endif %}
        <div id="push"></div>
    </div>
    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
{% endblock %}