{% extends "@html5/base.twig" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ site.getBaseDirectory }}includes/themes/default/css/theme.css"/>
    <link rel="icon" type="image/png" href="{{ site.getBaseDirectory }}includes/images/favicon.png">
{% endblock %}
{% block body %}
    <div id="mainContent">
        {#check for notices. Print any here.#}
        {% block notices %}
            {% include 'notices.twig' %}
        {% endblock %}

        <h2>Down for Maintenance</h2>

        <p>Sorry, but {{ site.getTitle() }} is down for maintenance. Please check back soon.</p>
    </div>

    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
{% endblock %}