{% if blocks.notices.0.content is not empty %}
    <div id="notices-modal">
        {% for notice in blocks.notices.0.content %}
            <div class="{{ notice.style }}">Notice: {{ notice.message|capitalize }}</div>
        {% endfor %}
        <a id="notices-close" onClick="$(this).parent().remove()">Close</a>
    </div>
{% endif %}