<div id="statuses">
    {% for status in blocks.content %}
        <div class="status">
            <div class="status-upper">By: <a href="{{ status.posterHref }}">{{ status.getPosterName }}</a></div>
            <div class="status-lower">{{ status.status }}</div>
            {% for status in blocks.childStatus %}
                {% include 'statuses.twig' %}
            {% endfor %}
        </div>
    {% endfor %}
</div>