{% if blocks.statuses.0.content is not empty %}
    <div id="statuses">
        {% for status in blocks.statuses.0.content %}
            <div class="status">By: {{ status.getPosterName }}{{ status.status }}</div>
        {% endfor %}
    </div>
{% endif %}